{
  "CLIENT_ID": "Client ID du bot",
  "CLIENT_SECRET": "Client Secret du bot",
  "BOT_TOKEN": "Token du bot",
  "CHANNEL_ID": ID du channel principal(int),
  "LOG_CHANNEL_ID": ID du channel de log(int),
  "SERVER_ID": ID du serveur(int),
  "ROLE_ID": ID du role principal (int),
  "FNG_ROLE_ID": ID du role FNG (int),
  "PLANNING_NAME": "Nom Du planning",
  "LINKS": [
    "Lien vers le planning Général",
    "Lien vers le planning Lundi",
    "Lien vers le planning Mardi",
    "Lien vers le planning Mercredi",
    "Lien vers le planning Jeudi",
    "Lien vers le planning Vendredi",
    "Lien vers le planning Samedi",
    "Lien vers le planning Dimanche"
  ],
  "DIS_EMOTE_ID": ID de l'émote DIS (int),
  "CDS_EMOTE_ID": ID de l'émote CDS (int),
  "CDG_EMOTE_ID": ID de l'émote CDG (int),
  "CDE_EMOTE_ID": ID de l'émote CDE (int),
  "MED_EMOTE_ID": ID de l'émote MED (int),
  "MINI_EMOTE_ID": ID de l'émote MINI (int),
  "KART_DLC_EMOTE_ID": ID de l'émote KART DLC (int),
  "HELI_DLC_EMOTE_ID": ID de l'émote HELI DLC (int),
  "MARK_DLC_EMOTE_ID": ID de l'émote MARK DLC (int),
  "APEX_DLC_EMOTE_ID": ID de l'émote APEX DLC (int),
  "JETS_DLC_EMOTE_ID": ID de l'émote JETS DLC (int),
  "TANKS_DLC_EMOTE_ID": ID de l'émote TANKS DLC (int),
  "LOW_DLC_EMOTE_ID": ID de l'émote LOW DLC (int),
  "GBMOB_DLC_EMOTE_ID": ID de l'émote GBMOB DLC (int),
  "CONTACT_DLC_EMOTE_ID": ID de l'émote CONTACT DLC (int),
  "PRAIRIEFIRE_DLC_EMOTE_ID": ID de l'émote PRAIRIEFIRE DLC (int),
  "WESTERNSAHARA_DLC_EMOTE_ID": ID de l'émote WESTERNSAHARA DLC (int),

  "PhraseDAttente": [
    "Phrase d'attente 1",
    "Phrase d'attente 2",
    "Phrase d'attente 3"
  ]
}